#tabs {
	margin: 10px 0;
	overflow: hidden;
}
.tabs-nav {
	width: 150px;
	float: left;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
}
.tabs-nav:after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 1px;
	background: #ccc;
	position: absolute;
	top: 0px;
	right: 0px;
}
.tabs-nav li {
	display: block;
	padding: 0;
	margin: 0;
}    
.tabs-nav a {
	display: block;
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #ccc;  
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #fbfbfb; 
	font-size: 16px;
	text-decoration: none;
	color: #999;
}		
.tabs-nav li:first-child a {
	border-radius: 5px 0 0 0; 
}
.tabs-nav li:last-child a {
	border-bottom: 1px solid #ccc;
	border-radius: 0 0 0 5px; 
}
.tabs-nav a.active {
	border-right: 1px solid #fff;
	background: #fff;
	color: #000;
}    
.tabs-items {
	margin-left: 149px;
	background: #fff;
}
.tabs-item {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 0 5px 5px 0;	
	min-height: auto;
    width: auto;
}
.tabs-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-end;
}
.tabs-flex-block {
    border-radius: 5px;
    box-sizing: border-box;
	border-top: 1px solid #ccc;  
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/** Основная навигация **/

.ula {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:25px; /*делаем отступ сверху*/
    background:#819A32; /*добавляем фон всему меню*/
    height: 50px; /*задаем высоту*/
  }
  .aref {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:#819A32; /*добавляем фон к пункту меню*/
    color:#fff; /*меняем цвет ссылок*/
    padding:0px 15px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    line-height:50px; /*ровняем меню по вертикали*/
    display: block; 
    border-right: 1px solid #677B27; /*добавляем бордюр справа*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
  }
  .aref:hover {
    background:#D43737;/*добавляем эффект при наведении*/
  }
  .lim {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    position:relative; /*задаем позицию для позиционирования*/
  }
       
  /*Стили для скрытого выпадающего меню*/
  .lim > ul {
    position:absolute;
    top:25px;
    display:none;   
  }
       
  /*Делаем скрытую часть видимой*/
  .lim:hover > ul {
    display:block; 
    width:250px;  /*Задаем ширину выпадающего меню*/      
  }
  .lim:hover > ul > li {
    float:none; /*Убираем горизонтальное позиционирование*/
  }