#tabs {
	margin: 10px 0;
	overflow: hidden;
}
.tabs-nav {
	width: 150px;
	float: left;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
}
.tabs-nav:after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 1px;
	background: #ccc;
	position: absolute;
	top: 0px;
	right: 0px;
}
.tabs-nav li {
	display: block;
	padding: 0;
	margin: 0;
}    
.tabs-nav a {
	display: block;
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #ccc;  
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #fbfbfb; 
	font-size: 16px;
	text-decoration: none;
	color: #999;
}		
.tabs-nav li:first-child a {
	border-radius: 5px 0 0 0; 
}
.tabs-nav li:last-child a {
	border-bottom: 1px solid #ccc;
	border-radius: 0 0 0 5px; 
}
.tabs-nav a.active {
	border-right: 1px solid #fff;
	background: #fff;
	color: #000;
}    
.tabs-items {
	margin-left: 149px;
	background: #fff;
}
.tabs-item {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 0 5px 5px 0;	
	min-height: auto;
    width: 700px;
}
.tabs-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-end;
}

/** Основная навигация **/

/* Кнопка раскрывающегося списка */
.dropbtn {
    background-color: #202224e5;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Кнопка раскрывающегося списка при наведении и фокусе */
.dropbtn:hover, .dropbtn:focus {
    background-color: #5c5e5fd8;
}

/* Контейнер <div> - необходим для размещения раскрывающегося содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (по умолчанию скрыто) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Ссылки внутри раскрывающегося списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета раскрывающихся ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd}

/* Показать раскрывающееся меню (используется JS, чтобы добавить этот класс в контейнер .dropdown-content, когда нажимаем кнопку раскрывающегося списка) */
.show {display:block;}