body {
    background-color: rgb(36, 43, 43);
}

h1 {
    color: rgb(25, 151, 46);
    text-align: center;
}

p {
    color: rgb(94, 248, 4);
    font-family: verdana;
    font-size: 20px;
}

table, td {
    border: 1px solid rgb(94, 248, 4);
    text-align: center;
    color: rgb(94, 248, 4);
    border-collapse: collapse;
    padding: auto;
}
tr th main. {
    border: 1px solid rgb(94, 248, 4);
    text-align: left;
    color: rgba(225, 240, 17, 0.932);
    border-collapse: collapse;
}

th {
    border: 1px solid rgb(94, 248, 4);
    text-align: center;
    color: rgba(225, 240, 17, 0.932);
    border-collapse: collapse;
    padding: auto;
}

.checkedApp {
    text-align: center;
    color: rgb(252, 253, 252);
    background-color: rgb(219, 24, 193);
    padding: auto;
}

.checkedHost {
    text-align: center;
    color: rgb(252, 253, 252);
    background-color: rgb(200, 219, 24);
    padding: auto;
}

.colAppWeb {
    text-align: center;
    color: rgb(252, 253, 252);
    background-color: rgb(19, 182, 68);
}

.btn {
    background-color: rgb(36, 43, 43);
    color: rgb(94, 248, 4);
}

.btn.is-active {
    background-color: rgb(248, 4, 167);
    color: rgb(36, 43, 43);
}