/** Основная навигация **/

body {
	background-color:#fbfbfb;
	font-family:Arial, Helvetica, sans-serif;
	color:rgba(49, 49, 49, 0.911);
}
 
.menu-wrap {
	background-color:#53bd84; 
	height:50px; 
	line-height:50px; 
	position:relative;
	width:530px;
	margin:auto;
	margin-top:80px;
}
 
.menu-wrap ul {
	list-style:none;
}
 
.menu-wrap ul li a {
 	float:left; 
	width:130px; 
	display:block; 
	text-align:center; 
	color:#FFF; 
	text-decoration:none; 
	text-transform:uppercase;
}
 
.menu-wrap ul li a:hover {
	background-color:#666;
    width:150px;
	display:block;
}
 
.menu-wrap ul li:hover ul {
	display:block;
}
 
.menu-wrap ul ul {
	display:inline-block; 
	list-style:none; 
	position:relative; 
	background-color:#53bd84;
	left:300px; 
	top:50px; 
	width:170px;
}
 
.menu-wrap ul ul li a {
	float:none; 
	display:block; 
	padding-left:30px; 
	text-align:left; 
	width:160px;
}
 
.menu-wrap ul ul li a:hover {
	color:#fff;
}


#tabs {
	margin: 10px 0;
	overflow: hidden;
}
.tabs-nav {
	width: 150px;
	float: left;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
}
.tabs-nav:after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 1px;
	background: #ccc;
	position: absolute;
	top: 0px;
	right: 0px;
}
.tabs-nav li {
	display: block;
	padding: 0;
	margin: 0;
}    
.tabs-nav a {
	display: block;
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #ccc;  
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #fbfbfb; 
	font-size: 16px;
	text-decoration: none;
	color: #999;
}		
.tabs-nav li:first-child a {
	border-radius: 5px 0 0 0; 
}
.tabs-nav li:last-child a {
	border-bottom: 1px solid #ccc;
	border-radius: 0 0 0 5px; 
}
.tabs-nav a.active {
	border-right: 1px solid #fff;
	background: #fff;
	color: #000;
}    
.tabs-items {
	margin-left: 149px;
	background: #fff;
}
.tabs-item {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 0 5px 5px 0;	
	min-height: auto;
    width: auto;
}
.tabs-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-end;
}
.tabs-flex-block {
    border-radius: 5px;
    box-sizing: border-box;
	border-top: 1px solid #ccc;  
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}